<div ng-controller="EditAgencyCtrl as ctrl">
    <hr>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Agency no</th>
                <th scope="col">Agency name</th>
                <th scope="col">Agency description</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">Edit Agency</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="el in agencies">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{el.name}}
                </td>
                <td>
                    {{el.description}}
                </td>
                <td>
                    {{el.createdAt}}
                </td>
                <td>
                    {{el.updatedAt}}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info" ng-click="ctrl.edytujAgencje(el.id)">Edit Agency</button>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <form>
            <div class="form-group">
                <label for="agencyName">Podaj nazwę Agencji</label>
                <input type="text" class="form-control" id="agencyName" aria-describedby="agencyNameHelp"
                       placeholder={{ctrl.currentAgency.name}} ng-model="ctrl.agencyUpdate.name">
                <small id="agencyNameHelp" class="form-text text-muted">Podaj nazwę agencji - najlepiej z KRS.
                </small>
            </div>
            <div class="form-group">
                <label for="agencyDescription">Krótki opis Agencji</label>
                <textarea class="form-control" id="agencyDescription" placeholder={{ctrl.currentAgency.description}} rows="3" ng-model="ctrl.agencyUpdate.description"></textarea>
            </div>
            <div class="form-group">
                <label for="agencyEmail">Email address</label>
                <input type="email" class="form-control" id="agencyEmail" aria-describedby="agencyEmailHelp"
                       placeholder={{ctrl.currentAgency.email}} ng-model="ctrl.agencyUpdate.email">
                <small id="agencyEmailHelp" class="form-text text-muted">Nigdy nie udostępniamy adresów email bez wymaganych zgód. Pamietaj - dodać można tylko unikalny adres email!
                </small>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="ctrl.zaktualizujAgencje()">Zapisz</button>
        </form>
    </div>
</div>