<div ng-controller="EditBranchCtrl as ctrl">
    <hr>
    <!--
    "createdAt": "2018-05-21T09:26:38.544+0000",
    "updatedAt": "2018-05-21T09:26:38.544+0000",
    "id": 9,
    "name": "Branch 2a",
    "address": "Jakiś adres 2a",
    "managerNameAndSurname": "Stanislaw Paluch 2a"
    -->

    <div class="container">
        <form>
            <div class="form-group">
                <select for="selectedAgency" class="form-control" ng-model="ctrl.selectedId">
                    <option ng-repeat="el in agencies" value="{{el.id}}">{{el.name}}</option>
                </select>
                <small id="selectedAgency" class="form-text text-muted">Wybrane id agencji: {{ctrl.selectedId}}
                </small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.listujOddzialy()">Pokaż oddziały</button>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Branch no</th>
                <th scope="col">Agency name</th>
                <th scope="col">Branch name</th>
                <th scope="col">Branch address</th>
                <th scope="col">Branch Manager</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">Edit branch</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ele in branches">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{ctrl.currentAgency.name}}
                </td>
                <td>
                    {{ele.name}}
                </td>
                <td>
                    {{ele.address}}
                </td>
                <td>
                    {{ele.managerNameAndSurname}}
                </td>
                <td>
                    {{ele.createdAt}}
                </td>
                <td>
                    {{ele.updatedAt}}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info" ng-click="ctrl.edytujOddzial(ele.id)">Edit branch</button>
                </td>

            </tr>
            </tbody>
        </table>

        <hr>
        <div class="form-group">
            <label for="branchName">Edytuj nazwę Odziału</label>
            <input type="text" class="form-control" id="branchName" aria-describedby="branchNameHelp"
                   placeholder={{ctrl.currentBranch.name}} ng-model="ctrl.branchUpdate.name">
        </div>
        <div class="form-group">
            <label for="branchAddress">Podaj adres Oddziału</label>
            <input type="text" class="form-control" id="branchAddress" rows="3"
                   placeholder={{ctrl.currentBranch.address}} ng-model="ctrl.branchUpdate.address">
        </div>
        <div class="form-group">
            <label for="branchManagerNameAndSurname">Imię i nazwisko Managera</label>
            <input type="text" class="form-control" id="branchManagerNameAndSurname" aria-describedby="branchManagerHelp"
                   placeholder={{ctrl.currentBranch.managerNameAndSurname}} ng-model="ctrl.branchUpdate.managerNameAndSurname">
            <small id="branchManagerHelp" class="form-text text-muted">Może później dane Managera będą z employee entity
            </small>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="ctrl.zaktualizujOddzial()">Zaktualizuj</button>
        </form>


    </div>

</div>