<div ng-controller="ShowEmployeesCtrl as ctrl">
    <hr>
    <!--
    database fields
    -->

    <div class="container">
        <form>
            <div class="form-group">
                <select for="selectedAgency" class="form-control" ng-model="ctrl.selectedAgencyId" ng-change="ctrl.getBranchesList()">
                    <option ng-repeat="el in agencies" value="{{el.id}}">{{el.name}}</option>
                </select>
                <small id="selectedAgency" class="form-text text-muted">Wybrane id agencji: {{ctrl.selectedAgencyId}}
                </small>
            </div>
            <div class="form-group">
                <select for="selectedBranch" class="form-control" ng-model="ctrl.selectedBranchId" ng-change="ctrl.getEmployeesFromBranch()">
                    <option ng-repeat="ele in branches" value="{{ele.id}}">{{ele.name}}</option>
                </select>
                <small id="selectedBranch" class="form-text text-muted">Wybrane id oddziału: {{ctrl.selectedBranchId}}
                </small>
            <!--</div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.listujPracownikow()">
                    Pokaż pracownikow w Agencji id: {{ctrl.selectedAgencyId}}, Branch id: {{ctrl.selectedBranchId}}
                </button>
            </div>-->
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Employee no</th>
                <th scope="col">Agency name</th>
                <th scope="col">Branch name</th>
                <th scope="col">Employee name</th>
                <th scope="col">Employee surname</th>
                <th scope="col">Employee address</th>
                <th scope="col">Employee email</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ele in employees">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{ctrl.currentAgencyName.name}}
                </td>
                <td>
                    {{ctrl.currentBranchName.name}}
                </td>
                <td>
                    {{ele.name}}
                </td>
                <td>
                    {{ele.surname}}
                </td>
                <td>
                    {{ele.address}}
                </td>
                <td>
                    {{ele.email}}
                </td>
                <td>
                    {{ele.createdAt}}
                </td>
                <td>
                    {{ele.updatedAt}}
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>