<div ng-controller="ShowBranchesCtrl as ctrl">
    <hr>
    <!--
    "createdAt": "2018-05-21T09:26:38.544+0000",
    "updatedAt": "2018-05-21T09:26:38.544+0000",
    "id": 9,
    "name": "Branch 2a",
    "address": "Jakiś adres 2a",
    "managerNameAndSurname": "Stanislaw Paluch 2a"
    -->

    <div class="container">
        <form>
            <div class="form-group">
                <select for="selectedAgency" class="form-control" ng-model="ctrl.selectedId">
                    <option ng-repeat="el in agencies" value="{{el.id}}">{{el.name}}</option>
                </select>
                <small id="selectedAgency" class="form-text text-muted">Wybrane id agencji: {{ctrl.selectedId}}
                </small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.listujOddzialy()">Pokaż oddziały</button>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Branch no</th>
                <th scope="col">Agency name</th>
                <th scope="col">Branch name</th>
                <th scope="col">Branch address</th>
                <th scope="col">Branch Manager</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ele in branches">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{ctrl.currentAgency.name}}
                </td>
                <td>
                    {{ele.name}}
                </td>
                <td>
                    {{ele.address}}
                </td>
                <td>
                    {{ele.managerNameAndSurname}}
                </td>
                <td>
                    {{ele.createdAt}}
                </td>
                <td>
                    {{ele.updatedAt}}
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>