<div ng-controller="AddAgencyCtrl as ctrl">

    <!--
    "name": "AgencyNo3",
    "description": "3 agency in DB",
    "email": "test3@example.com"
   -->
    <div class="container">
        <hr>
        <form>
            <div class="form-group">
                <label for="agencyName">Podaj nazwę Agencji</label>
                <input type="text" class="form-control" id="agencyName" aria-describedby="agencyNameHelp"
                       placeholder="Podaj nazwę agencji" ng-model="ctrl.agencyCreate.name">
                <small id="agencyNameHelp" class="form-text text-muted">Podaj nazwę agencji - najlepiej z KRS.
                </small>
            </div>
            <div class="form-group">
                <label for="agencyDescription">Krótki opis Agencji</label>
                <textarea class="form-control" id="agencyDescription" rows="3" ng-model="ctrl.agencyCreate.description"></textarea>
            </div>
            <div class="form-group">
                <label for="agencyEmail">Email address</label>
                <input type="email" class="form-control" id="agencyEmail" aria-describedby="agencyEmailHelp"
                       placeholder="Enter email" ng-model="ctrl.agencyCreate.email">
                <small id="agencyEmailHelp" class="form-text text-muted">Nigdy nie udostępniamy adresów email bez wymaganych zgód. Pamietaj - dodać można tylko unikalny adres email!
                </small>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="ctrl.dodajAgencje()">Zapisz</button>
        </form>

    </div>

</div>