<div ng-controller="DeleteAgencyCtrl as ctrl">
    <hr>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Agency no</th>
                <th scope="col">Agency name</th>
                <th scope="col">Agency description</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                <th scope="col">Delete Agency</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="el in agencies">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    {{el.name}}
                </td>
                <td>
                    {{el.description}}
                </td>
                <td>
                    {{el.createdAt}}
                </td>
                <td>
                    {{el.updatedAt}}
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="ctrl.usunAgencje(el.id)">Delete Agency</button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>