<div ng-controller="ViewRegisterCtrl as ctrl">


    <div class="container">
        <hr>
        <p> ViewRegister View and Controller </p>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="login">Email:</label>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="text" id="login" ng-model="ctrl.registerUser.login">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="login">Name:</label>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="text" id="name" ng-model="ctrl.registerUser.name">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="password">Password:</label>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="password" id="password" ng-model="ctrl.registerUser.password">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="password-confirm">Password confirmation:</label>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="password" id="password-confirm" ng-model="ctrl.registerUser.passwordconfirm">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <input class="form-control" type="button" ng-click="ctrl.sendRegisterForm()" value="Register">
            </div>
        </div>
    </div>


</div>