<div ng-controller="LoginCtrl as ctrl">

    <div class="container">
        <hr>
        <p> Login View and Controller </p>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="login">Email:</label>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="text" id="login" ng-model="ctrl.loginUser.login">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="password">Password:</label>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="password" id="password" ng-model="ctrl.loginUser.password">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
            </div>
            <div class="col-md-5">
                <input class="form-control" type="button" ng-click="ctrl.sendLoginForm()" value="Login">
            </div>
        </div>
    </div>
</div>

