<div ng-controller="AddBranchCtrl as ctrl">
    <hr>

    <div class="container">

               <!--
          "createdAt": "2018-05-21T09:26:38.544+0000",
          "updatedAt": "2018-05-21T09:26:38.544+0000",
          "id": 9,
          "name": "Branch 2a",
          "address": "Jakiś adres 2a",
          "managerNameAndSurname": "Stanislaw Paluch 2a"
          -->

        <hr>
        <form>
            <div class="form-group">
                <select for="selectedAgency" class="form-control" ng-model="ctrl.selectedId">
                    <option ng-repeat="el in agencies" value="{{el.id}}">{{el.name}}</option>
                </select>
                <small id="selectedAgency" class="form-text text-muted">Wybrane id agencji: {{ctrl.selectedId}}
                </small>

            </div>
            <div class="form-group">
                <label for="branchName">Podaj nazwę Odziału</label>
                <input type="text" class="form-control" id="branchName" aria-describedby="branchNameHelp"
                       placeholder="Podaj nazwę oddziału" ng-model="ctrl.branchCreate.name">
            </div>
            <div class="form-group">
                <label for="branchAddress">Podaj adres Oddziału</label>
                <input type="text" class="form-control" id="branchAddress" rows="3"
                       placeholder="Podaj adres oddziału" ng-model="ctrl.branchCreate.address">
            </div>
            <div class="form-group">
                <label for="branchManagerNameAndSurname">Imię i nazwisko Managera</label>
                <input type="text" class="form-control" id="branchManagerNameAndSurname" aria-describedby="branchManagerHelp"
                       placeholder="Podaj imię i nazwisko managera oddziału" ng-model="ctrl.branchCreate.managerNameAndSurname">
                <small id="branchManagerHelp" class="form-text text-muted">Może później dane Managera będą z employee entity
                </small>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="ctrl.dodajOddzial()">Zapisz</button>
        </form>

    </div>


</div>